nav {
  background: rgb(231, 202, 177);
  border-bottom: 3px black solid;
  max-height: 50px;
}

ul {
  list-style: none;
  display: inline-flex;
  position: relative;
}

.user li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.user li a:hover {
  color: white;
}

.img {
  margin-left: -30px;
  display: flex;
}

.user {
  align-items: center;
  position: relative;
}
.user li {
  padding: 10px;
}
