<nav>
    <ul>
        <li class="img">
            <a routerLink="/"><img src="./favicon.ico" class="img-fluid"></a>
        </li>
        <ul class="user" *ngIf="currentUser.isLoggedIn == false || currentUser.isLoggedIn == undefined">
            <li><a routerLink="login">Log in</a></li>
            <li><a routerLink="register">Register</a></li>
        </ul>
        <ul class="user" *ngIf="currentUser.isLoggedIn == true">
            <li>Welcome, {{currentUser.username}}</li>
            <li><a (click)="logout()">Log out</a></li>
        </ul>
    </ul>
</nav>