<h2>Create a new article</h2>
<form [formGroup]="createForm" (ngSubmit)="createHandler(createForm.value)">


    <div>
        <label for="title">Title</label>
        <input class="create-input" formControlName="title" type="text">
    </div>

    <div>
        <label for="description">Description</label>
        <textarea formControlName="description"></textarea>
    </div>
    <div>
        <label for="imageUrl">Image link</label>
        <input class="create-input" formControlName="imageUrl" type="text">
    </div>

    <button [disabled]="!createForm.valid" type="submit">Create</button>


</form>