/* textarea {
  opacity: 0.4;
  width: 250px;
  border: none;
} */

textarea {
  height: 200px;
  width: 300px;
  opacity: 0.4;
  border: none;
}

textarea:hover,
textarea:focus,
textarea:active {
  opacity: 0.8;
  background-color: whitesmoke;
  outline: none;
}
