<h2>Login</h2>
<form #f="ngForm" (ngSubmit)="loginHandler(f.value)">

    <div>
        <label for="email">Email</label>
        <input type="text" name="email" ngModel #email="ngModel" required>
        <p *ngIf="email.touched && email.errors?.required">
            This field is required!
        </p>

    </div>
    <div>
        <label for="password">Password</label>
        <input ngModel name="password" type="password" #password="ngModel" required>
        <p *ngIf="password.touched && password.errors?.required">
            This field is required!
        </p>
    </div>

    <button [disabled]="!f.valid" type="submit">Login</button>
    <p>{{this.userService.errorMsg}}</p>

    <p>Don't have an account? <a routerLink="/register">Join us!</a></p>

</form>