<div class="container">
  <div class="row">
    <div class="col-sm">
      <h3>Location:</h3>
      <form [formGroup]="weatherSearchForm" (ngSubmit)="sendData(weatherSearchForm.value)">
        <div>
          <input type="text" id="weatherLocation" aria-describedby="weatherLocation"
            placeholder="Please type in a location" formControlName="location" value="{{this.location}}" />
        </div>
        <div>
          <button type="submit">
            Search
          </button>
        </div>
      </form>
    </div>
    <div class="col-sm">
      <div *ngIf="this.weatherData && this.weatherData.success != false">
        <img src="{{this.weatherData.current.weather_icons}}">
        <div class="temp">
          <p>
            {{this.apiService.formatTemperature(this.weatherData?.current.temperature)}}
          </p>
          <p id="weatherDescription">
            {{this.weatherData?.current.weather_descriptions}}
          </p>
        </div>
        <p class="location">{{location}}
        </p>
        <div class="row info">
          <div class="col-sm">
            <p>{{this.apiService.formatDateTime(this.weatherData?.location.localtime)}}</p>
            <p>Feels like: {{this.apiService.formatTemperature(this.weatherData?.current.feelslike)}}</p>
            <p>Cloud cover: {{this.weatherData?.current.cloudcover}}%</p>
          </div>
          <div class="col-sm">
            <p>
              Wind: {{this.weatherData?.current.wind_speed}} mph
            </p>
            <p>
              Humidity: {{this.weatherData?.current.humidity}}%
            </p>
            <p>
              Precipitacion: {{this.weatherData?.current.precip}}%
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<app-info *ngIf="location && isLoggedIn" [location]="this.location"></app-info>
<div *ngIf="location && !isLoggedIn" class="no-guide">
  <div class="headings">
    <h4>Looking for something to do in {{location}}?</h4>
    <h5><a routerLink="login">Sign in</a> and check our guide!</h5>
  </div>