.container {
  display: flex;
  height: inherit;
  align-items: stretch;
  justify-content: space-between;
}

.headings {
  text-align: center;
  padding: 2rem;
}

.headings h4,
h5 {
  color: white;
}

.info-col {
  font-size: large;
  list-style: none;
}

.info-col a {
  color: black;
  text-decoration: none;
  border-right: 2px solid black;
  padding: 10px;
}

.info-col a:hover {
  color: white;
  border-bottom: 2px solid white;
  border-right: none;
  text-decoration: none;
}

.main {
  width: 20rem;
  text-align: center;
}

.info-div {
  padding: 2rem;
  color: black;
}

.info-div a {
  color: black;
}

.info-div a:hover {
  text-decoration: none;
  color: white;
}
