<div class="info">
    <div class="headings">
        <h4>Looking for something to do in {{location}}?</h4>
        <h5>Check our guide!</h5>
    </div>

    <ul class="container">
        <div class="main">
            <li class="info-col"><a routerLink="#">Spend the night</a></li>
            <div class="info-div">
                <p>Unfortunatelly, no one has published anything yet.</p>
                <p><a routerLink="/create/night">Be the first one! </a></p>
            </div>
        </div>
        <div class="main">
            <li class="info-col"><a routerLink="#">Enjoy a meal</a></li>
            <div class="info-div">
                <p>Unfortunatelly, no one has published anything yet.</p>
                <p><a routerLink="/create/meal">Be the first one! </a></p>
            </div>
        </div>

        <div class="main">

            <li class="info-col"><a routerLink="#">Explore</a></li>
            <div class="info-div">
                <p>Unfortunatelly, no one has published anything yet.</p>
                <p><a routerLink="/create/explore">Be the first one! </a></p>
            </div>
        </div>
        <div class="main">

            <li class="info-col"><a routerLink="#">Have fun</a></li>
            <div class="info-div">
                <p>Unfortunatelly, no one has published anything yet.</p>
                <p><a routerLink="/create/fun">Be the first one! </a></p>
            </div>
        </div>

    </ul>
</div>